<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel alumno add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Nombres_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nombres}  r-vertical-field" 
	data-fieldname="Nombres" 
	data-signal-error-for="Nombres{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Nombres" >


	<label class="r-edit-label control-label" for="{$labelfor_Nombres}">
		{BEGIN Nombres_label}{$label alumno Nombres }{END Nombres_label}
	</label>
	<div class="r-edit-field">
		{$Nombres_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Nombres">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Nombres_fieldblock}
											
{BEGIN Apellidos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Apellidos}  r-vertical-field" 
	data-fieldname="Apellidos" 
	data-signal-error-for="Apellidos{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Apellidos" >


	<label class="r-edit-label control-label" for="{$labelfor_Apellidos}">
		{BEGIN Apellidos_label}{$label alumno Apellidos }{END Apellidos_label}
	</label>
	<div class="r-edit-field">
		{$Apellidos_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Apellidos">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Apellidos_fieldblock}
											
{BEGIN Carrera_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Carrera}  r-vertical-field" 
	data-fieldname="Carrera" 
	data-signal-error-for="Carrera{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Carrera" >


	<label class="r-edit-label control-label" for="{$labelfor_Carrera}">
		{BEGIN Carrera_label}{$label alumno Carrera }{END Carrera_label}
	</label>
	<div class="r-edit-field">
		{$Carrera_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Carrera">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Carrera_fieldblock}
											
{BEGIN Email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email}  r-vertical-field" 
	data-fieldname="Email" 
	data-signal-error-for="Email{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Email" >


	<label class="r-edit-label control-label" for="{$labelfor_Email}">
		{BEGIN Email_label}{$label alumno Email }{END Email_label}
	</label>
	<div class="r-edit-field">
		{$Email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Email">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Email_fieldblock}
											
{BEGIN Celular_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Celular}  r-vertical-field" 
	data-fieldname="Celular" 
	data-signal-error-for="Celular{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Celular" >


	<label class="r-edit-label control-label" for="{$labelfor_Celular}">
		{BEGIN Celular_label}{$label alumno Celular }{END Celular_label}
	</label>
	<div class="r-edit-field">
		{$Celular_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Celular">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Celular_fieldblock}
											
{BEGIN Gthub_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Gthub}  r-vertical-field" 
	data-fieldname="Gthub" 
	data-signal-error-for="Gthub{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Gthub" >


	<label class="r-edit-label control-label" for="{$labelfor_Gthub}">
		{BEGIN Gthub_label}{$label alumno Gthub }{END Gthub_label}
	</label>
	<div class="r-edit-field">
		{$Gthub_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Gthub">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Gthub_fieldblock}
											
{BEGIN Web_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Web}  r-vertical-field" 
	data-fieldname="Web" 
	data-signal-error-for="Web{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Web" >


	<label class="r-edit-label control-label" for="{$labelfor_Web}">
		{BEGIN Web_label}{$label alumno Web }{END Web_label}
	</label>
	<div class="r-edit-field">
		{$Web_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Web">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Web_fieldblock}
											
{BEGIN Password_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Password}  r-vertical-field" 
	data-fieldname="Password" 
	data-signal-error-for="Password{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Password" >


	<label class="r-edit-label control-label" for="{$labelfor_Password}">
		{BEGIN Password_label}{$label alumno Password }{END Password_label}
	</label>
	<div class="r-edit-field">
		{$Password_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Password">
		<div class="text-muted" >
				</div>
	</div>
</div>


{END Password_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
