
{BEGIN item1_menulink}
<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf {$item1_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/User group.png" border=0>
<a {$item1_menulink_attrs}>{$item1_title}</a></div>



</div>
{END item1_menulink}

{BEGIN item2_menulink}
<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf {$item2_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/Boss.png" border=0>
<a {$item2_menulink_attrs}>{$item2_title}</a></div>



</div>
{END item2_menulink}

{BEGIN item3_menulink}
<div id="item3" class="rnr-b-hmenu {$menustyle} Leaf {$item3_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/Notes.png" border=0>
<a {$item3_menulink_attrs}>{$item3_title}</a></div>



</div>
{END item3_menulink}

{BEGIN item4_menulink}
<div id="item4" class="rnr-b-hmenu {$menustyle} Leaf {$item4_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/session_idle_time.png" border=0>
<a {$item4_menulink_attrs}>{$item4_title}</a></div>



</div>
{END item4_menulink}

{BEGIN item5_menulink}
<div id="item5" class="rnr-b-hmenu {$menustyle} Leaf {$item5_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/rainbow_cloud.png" border=0>
<a {$item5_menulink_attrs}>{$item5_title}</a></div>



</div>
{END item5_menulink}
