<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel profesor_curso_view search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idCursoDicta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idCursoDicta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idCursoDicta" 
	
	data-signal-error-for="idCursoDicta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idCursoDicta" >


	<label class="r-search-label control-label" for="{$labelfor_idCursoDicta}">
		{$label profesor_curso_view idCursoDicta }	</label>
	<div class="r-search-option">
		{$searchtype_idCursoDicta}
	</div>
	<div class="r-search-field">
		{$idCursoDicta_editcontrol}	</div>
	<div class="r-search-field">
		{$idCursoDicta_editcontrol1}
	</div>
	
</div>

{END idCursoDicta_fieldblock}
											
{BEGIN idProfesor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idProfesor}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idProfesor" 
	
	data-signal-error-for="idProfesor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="idProfesor" >


	<label class="r-search-label control-label" for="{$labelfor_idProfesor}">
		{$label profesor_curso_view idProfesor }	</label>
	<div class="r-search-option">
		{$searchtype_idProfesor}
	</div>
	<div class="r-search-field">
		{$idProfesor_editcontrol}	</div>
	<div class="r-search-field">
		{$idProfesor_editcontrol1}
	</div>
	
</div>

{END idProfesor_fieldblock}
											
{BEGIN idCurso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idCurso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idCurso" 
	
	data-signal-error-for="idCurso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="idCurso" >


	<label class="r-search-label control-label" for="{$labelfor_idCurso}">
		{$label profesor_curso_view idCurso }	</label>
	<div class="r-search-option">
		{$searchtype_idCurso}
	</div>
	<div class="r-search-field">
		{$idCurso_editcontrol}	</div>
	<div class="r-search-field">
		{$idCurso_editcontrol1}
	</div>
	
</div>

{END idCurso_fieldblock}
											
{BEGIN NombreCurso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NombreCurso}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NombreCurso" 
	
	data-signal-error-for="NombreCurso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="NombreCurso" >


	<label class="r-search-label control-label" for="{$labelfor_NombreCurso}">
		{$label profesor_curso_view NombreCurso }	</label>
	<div class="r-search-option">
		{$searchtype_NombreCurso}
	</div>
	<div class="r-search-field">
		{$NombreCurso_editcontrol}	</div>
	<div class="r-search-field">
		{$NombreCurso_editcontrol1}
	</div>
	
</div>

{END NombreCurso_fieldblock}
											
{BEGIN Seccion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Seccion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Seccion" 
	
	data-signal-error-for="Seccion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Seccion" >


	<label class="r-search-label control-label" for="{$labelfor_Seccion}">
		{$label profesor_curso_view Seccion }	</label>
	<div class="r-search-option">
		{$searchtype_Seccion}
	</div>
	<div class="r-search-field">
		{$Seccion_editcontrol}	</div>
	<div class="r-search-field">
		{$Seccion_editcontrol1}
	</div>
	
</div>

{END Seccion_fieldblock}
											
{BEGIN NRC_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NRC}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NRC" 
	
	data-signal-error-for="NRC{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="NRC" >


	<label class="r-search-label control-label" for="{$labelfor_NRC}">
		{$label profesor_curso_view NRC }	</label>
	<div class="r-search-option">
		{$searchtype_NRC}
	</div>
	<div class="r-search-field">
		{$NRC_editcontrol}	</div>
	<div class="r-search-field">
		{$NRC_editcontrol1}
	</div>
	
</div>

{END NRC_fieldblock}
											
{BEGIN Academia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Academia}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Academia" 
	
	data-signal-error-for="Academia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="Academia" >


	<label class="r-search-label control-label" for="{$labelfor_Academia}">
		{$label profesor_curso_view Academia }	</label>
	<div class="r-search-option">
		{$searchtype_Academia}
	</div>
	<div class="r-search-field">
		{$Academia_editcontrol}	</div>
	<div class="r-search-field">
		{$Academia_editcontrol1}
	</div>
	
</div>

{END Academia_fieldblock}
											
{BEGIN idCicloEscolar_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idCicloEscolar}  r-horizontal-field form-horizontal" 
	
		data-fieldname="idCicloEscolar" 
	
	data-signal-error-for="idCicloEscolar{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="idCicloEscolar" >


	<label class="r-search-label control-label" for="{$labelfor_idCicloEscolar}">
		{$label profesor_curso_view idCicloEscolar }	</label>
	<div class="r-search-option">
		{$searchtype_idCicloEscolar}
	</div>
	<div class="r-search-field">
		{$idCicloEscolar_editcontrol}	</div>
	<div class="r-search-field">
		{$idCicloEscolar_editcontrol1}
	</div>
	
</div>

{END idCicloEscolar_fieldblock}
											
{BEGIN NomProfesor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NomProfesor}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NomProfesor" 
	
	data-signal-error-for="NomProfesor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="NomProfesor" >


	<label class="r-search-label control-label" for="{$labelfor_NomProfesor}">
		{$label profesor_curso_view NomProfesor }	</label>
	<div class="r-search-option">
		{$searchtype_NomProfesor}
	</div>
	<div class="r-search-field">
		{$NomProfesor_editcontrol}	</div>
	<div class="r-search-field">
		{$NomProfesor_editcontrol1}
	</div>
	
</div>

{END NomProfesor_fieldblock}
											
{BEGIN ApellidosProfesor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ApellidosProfesor}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ApellidosProfesor" 
	
	data-signal-error-for="ApellidosProfesor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="ApellidosProfesor" >


	<label class="r-search-label control-label" for="{$labelfor_ApellidosProfesor}">
		{$label profesor_curso_view ApellidosProfesor }	</label>
	<div class="r-search-option">
		{$searchtype_ApellidosProfesor}
	</div>
	<div class="r-search-field">
		{$ApellidosProfesor_editcontrol}	</div>
	<div class="r-search-field">
		{$ApellidosProfesor_editcontrol1}
	</div>
	
</div>

{END ApellidosProfesor_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
